.pttime-processing-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*background: #dce7ed;*/
    padding: 15px;
    border-bottom: solid 1px #dce7ed;
}


.pttime-processing-header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.pttime-processing-header ul li {
    display: block;
}

.pttime-processing-header ul li a {
    display: block;
    padding: 0 10px;
    opacity: 0.5;
    border-right: solid 1px #acbcc5;
    font-size: 16px;
}

.pttime-processing-header ul li:last-child a {
    border: none;
}

.pttime-processing-header ul li a:hover {
    opacity: 1;
}

.pttime-processing-header ul li.active a {
    opacity: 1;
    font-weight: 600;
}

.pttime-processing-header .form input {
    padding: 10px 25px;
    border: solid 1px #dce7ed;
    border-radius: 30px;
    /*background: #dce7ed;*/
}


.pttime-processing-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
}

.pttime-processing-content .left {
    width: 15%;
    display: block;
    margin: 32px 0;
}

.pttime-processing-content .right {
    width: 85%;
    display: block;
    margin: 15px 0;
}


.pttime-processing-content .pttime-action-block {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    margin: 0px;
    border: solid 1px #dce7ed;
    border-radius: 10px;
}

.pttime-processing-content .pttime-action-block li {
    display: block;
    border-bottom: solid 1px #dce7ed;
    padding: 20px;
    text-align: center;
}


.pttime-processing-content .pttime-action-block li.active a {
    border-bottom: 2px solid #dce7ed;
    color: black;
}

.pttime-processing-content .pttime-action-block li.title {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.pttime-processing-content .pttime-action-block li span {
    display: flex;
    border-radius: 30px;
    background: cornflowerblue;
    text-align: center;
    padding: 5px;
    font-size: 11px;
    font-weight: normal;
    color: white;
    min-width: 20px;
    align-content: center;
    justify-content: center;
}

.pttime-processing-content .pttime-action-block li:last-child {
    border: none;
}

.pttime-processing-content .tab-block{
    display: block;
    margin: 15px;
}

.pttime-processing-content .tab-block .tab-header {
    display: block;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    background: #dce7ed;
    font-weight: 600;
}

.pttime-processing-content .tab-block .tab-nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0 0;
    border-bottom: solid 1px #dce7ed;
    flex-direction: row;
    align-items: center;
}

.pttime-processing-content .tab-block .tab-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.pttime-processing-content .tab-block .tab-nav ul li a{
    display: block;
    padding: 10px 15px;
    border: solid 1px #dce7ed;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    margin-right: 3px;
    opacity: 0.5;
}

.pttime-processing-content .tab-block .tab-nav ul li a:hover,
.pttime-processing-content .tab-block .tab-nav ul li.active a {
    background: #dce7ed;
    opacity: 1;
}

.pttime-processing-content .tab-block .tab-nav ul li.active a {
    font-weight: 600;
}


.pttime-processing-table {
    display: table;
    width: 100%;
    border-left: 1px solid #dce7ed;
    border-top: 1px solid #dce7ed;
    border-right: 10px;
    margin-top: 0;
}

.pttime-processing-table th,
.pttime-processing-table td {
    border-right: solid 1px #dce7ed;
    border-bottom: solid 1px #dce7ed;
    padding: 15px;
}

.pttime-processing-table td:first-child {
    text-align: center;
    max-width: 30px;
}

.pttime-processing-table td:last-child {
    text-align: center;
}

.pttime-processing-table th {
    background: #dce7ed;
    text-align: center;
    border-color: white;
}

.pttime-processing-content .list {
    display: block;
    margin: 10px 0;
}

.pttime-processing-content .list .title {
    display: block;
    padding: 10px 15px;
    background: #dce7ed;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
}

.pttime-processing-content .list ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
}

.pttime-processing-content .list ul li {
    padding: 10px 15px;
    display: block;
    border-bottom: solid 1px #dce7ed;
}


.pttime-processing-content label{
     font-weight: bold;
    display: block;
    padding: 0 0 10px 0;
}


.pttime-processing-content select, select,
.pttime-processing-content input[type="text"],
.pttime-processing-content input[type="datetime-local"],
.pttime-processing-content input[type="date"],
.pttime-processing-content textarea
{
    border: solid 1px #dce7ed;
    padding: 10px;
    /*background: transparent;*/
    border-radius: 5px;
    background: white;
    width: 100%;
}

.pttime-processing-template-link-list {
    display: block;
    border: solid 1px #dce7ed;
    border-radius: 5px;
}

.pttime-processing-template-link-list .item {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #dce7ed;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.pttime-processing-template-link-list .item:last-child {
    border: none;
}

.pttime-processing-template-link-list .item .desc h4,
.pttime-processing-template-link-list .item .desc p
{
    padding: 0;
    margin: 0;
}

.pttime-processing-template-link-list .item .desc h4 {
    margin-bottom: 5px;
}

.pttime-processing-template-link-list .item .link {
    padding: 5px;
}

.pttime-processing-template-link-list .item .count {
    display: flex;
    background: cornflowerblue;
    color: white;
    border-radius: 100%;
    padding: 5px;
    margin-top: 18px;
}


.pttime-codes-wrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
}

.pttime-codes-wrapper .left,
.pttime-codes-wrapper .right {
    border: solid 1px #dce7ed;
    width: 50%;
    border-radius: 5px 5px 0 0;
}

pttime-codes-wrapper .full {
    border: solid 1px #dce7ed;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.pttime-codes-wrapper .full .title,
.pttime-codes-wrapper .left .title,
.pttime-codes-wrapper .right .title {
    display: block;
    padding: 10px 15px;
    background: #dce7ed;
    border-radius: 5px 5px 0 0;
    font-weight: 600;
}


.pttime-codes-wrapper .left .block {
    overflow-y: auto;
    display: block;
}

.pttime-codes-wrapper .left .block ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pttime-codes-wrapper .left .block ul li {
    padding: 10px 15px;
    display: block;
    border-bottom: solid 1px #dce7ed;
    background: lightgreen;
}

.pttime-codes-wrapper .left .block ul li:last-child {
    border: none;
}

 .agents-selector-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.agents-selector-list li {
    padding: 10px;
    display: block;
    border: solid 1px #dce7ed;
}

.agents-selector-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.agents-selector-list li {
    padding: 15px;
    display: flex;
    border: solid 1px #dce7ed;
    width: 30%;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.agents-selector-list li .destination {
    font-weight: bold;
    font-size: 14px;
}

.agents-selector-list li .name
{
    font-size: 10px;
    color: gray;
}

.js_hide{
    display: none!important;
}

.questions-list {
    display: block;
    padding: 0;
    margin: 5px auto;
    list-style: none;
}

.questions-list  li {
    display: flex;
    font-size: 14px;
    border: solid 1px #f0f0f0;
    font-weight: 600;
    padding: 5px;
    margin: 3px;
    flex-direction: column;
    align-items: flex-start;
}

.questions-list > li {
    padding: 15px;
}

.questions-list > li:hover {
    border-color: #dce7ed;
}

.questions-list li .answers-list {
    padding: 0 0 0 10px;
    margin: 0;
    display: block;
    list-style-type: none;
}

.questions-list li .answers-list li {
    border: none;
    font-size: 14px;
    color: #4d4a4a;
    display: flex;
    font-weight: normal;
}


.questions-list li .answers-list li .values-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-left: 15px;
    margin-top: 7px;
    color: #6f6d6d;
}

.questions-list li .answers-list li .values-wrapper span {
    border-radius: 5px;
    padding: 2px 5px;
    background: #dce7ed;
    text-align: center;
    cursor: pointer;
    font-size: 11px;
}

.questions-list li .answers-list li .values-wrapper span:hover
{
    background: #f0f0f0;
    color: black;
}
.questions-list li .answers-list li .values-wrapper span.active
{
    background: #8bc34a;
    color: white;
}

.time-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-content: flex-start;
    width: 100%;
}

.time-wrapper .left,
.time-wrapper .right {
    display: block;
    width: 100%;
}

.time-wrapper .right {
}

.time-wrapper .right form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    width: 100%;
}



.two {
    padding: 0 0 0 20px;
    text-align: center;
    font-size: 16px !important;
    border-bottom: solid 1px #cccccc;
}


.two h1 {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    color: hsl(0, 0%, 0%);
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    padding: 10px 0;
    margin: 0;
    display: inline-block;
}


.my-button {
    background-color: #3bc8f5;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    padding: 15px 25px; margin: 15px;
    border: none;
}


 